html, body{
    margin: 0px;
    background-color: green;
    color: white;
}

.cartas{
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px; 
   ;
}

#computadora-cartas, #jugador-cartas{
height: 220px;

}




.titulo {
    text-align: center;
    background-color: black;
    color: red;
    padding: 20px;
    font-size: 25px;
}








